version: '3.8'

services:
  postgres:
    image: postgres:16  
    container_name: reports_postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - //d/docker_data/cenat_postgres:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:8.2.2
    container_name: reports_redis
    command: ["redis-server", "--requirepass", "${REDIS_PASS}"]
    ports:
      - "${REDIS_PORT}:6379"  
    volumes:
      - //d/docker_data/cenat_redis:/data
  nginx:
    image: nginx:1.25-alpine
    container_name: reports_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    restart: always
    # depends_on:
    #   - app
  # app:
  #   build: .
  #   container_name: reports_app
  #   environment:
  #     - DB_HOST=postgres
  #     - DB_NAME=${DB_NAME}
  #     - DB_USER=${DB_USER}
  #     - DB_PASS=${DB_PASS}
  #     - REDIS_HOST=redis
  #     - REDIS_PASS=${REDIS_PASS}
  #   volumes:
  #     - ./reports:/app/report
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - postgres
  #     - redis

  # celery:
  #   build: .
  #   container_name: reports_celery
  #   command: "celery --app=src.tasks.celery_app:celery_app worker -l INFO"
  #   environment:
  #     - DB_HOST=postgres
  #     - DB_NAME=${DB_NAME}
  #     - DB_USER=${DB_USER}
  #     - DB_PASS=${DB_PASS}
  #     - REDIS_HOST=redis
  #     - REDIS_PASS=${REDIS_PASS}
  #   volumes:
  #     - ./reports:/app/report
  #   depends_on:
  #     - redis
  #     - postgres

  # celery_beat_service:
  #   container_name: 'celery_beat'
  #   build:
  #     context: .
  #   volumes:
  #   - ./reports:/app/report
  #   env_file:
  #     - .env
  #   command: "celery --app=src.tasks.celery_app:celery_app beat -l INFO"

